
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/dr_libs"]
	path = dependencies/dr_libs
	url = https://github.com/mackron/dr_libs.git
